{% extends 'layout.html' %}

{% block body %}
    <div class="shadow-sm p-3 d-flex flex-column overflow-hidden">
        <div class="d-flex justify-content-between">
            <div class="mb-3">
                <h6>Good {{greeting}},</h6>
                <h5><b><span class="text-danger">Dr.</span> {{request.user.first_name}} {{request.user.last_name}}</b></h5>
                <p class="lh-1"><i class="fa fa-user-md"></i> <i> &nbsp; {{doctor_detail.doctor_designation}} &nbsp; </i>( {{doctor_detail.doctor_education}} ) </p>
            </div>
            <div class="d-flex flex-column justify-content-startend text-start">
                <p class="lh-1"><i class="fa fa-hospital-o"></i> &nbsp; {{doctor_detail.doctor_hospital}}</p>
                <p class="lh-1"><i class="fa fa-map-marker"></i> &nbsp; {{doctor_detail.doctor_location}}</p>
                <p class="lh-1"><i class="fa fa-phone"></i> &nbsp; +91 {{doctor_detail.doctor_phone_number}}</p>
                <p class="lh-1"><i class="fa fa-envelope"></i> &nbsp; {{request.user.email}}</p>
            </div>
        </div>
        <div class="d-flex gap-3 ">
            <div class="w-25 shadow-sm p-2">
                <h6><b>Total Patients</b></h6>
                <h3>{{patient_count}}</h3>
            </div>
            <div class="w-25 shadow-sm p-2">
                <h6><b>Today's Total Patient</b></h6>
                <h3>{{todays_patient}}</h3>
            </div>
        </div>
        <div class="mt-3 mb-2 d-flex align-items-center justify-content-between">
            <h5 class="bar"><b>Recent History &nbsp; <i class="fa fa-history"></i></b></h5>
            <div>
                <a class="btn btn-primary" href={% url 'patient-details' %}>View All&nbsp; <i class="fa fa-eye"></i></a>
                <a class="btn btn-primary" href={% url 'add-patient' %}>New Case &nbsp; <i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div>
            <table class="table table-responsive table-bordered table-hover " style="overflow-x:hidden;overflow-y:auto;">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Phone No.</th>
                    <th scope="col">Gender</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for patient in patients_details %}
                        <tr>
                            <td>{{patient.id}}</td>
                            <td>{{patient.patient_name}}</td>
                            <td>{{patient.patient_dob}}</td>
                            <td>+91 {{patient.patient_phone_number}}</td>
                            <td>{{patient.patient_sex}}</td>
                            <td><a href={% url 'patient' patient.id %}><i class="fa fa-eye"></i></a></td>
                            <td><a href={% url 'update-patient' patient.id %}><i class="fa fa-edit"></i></a></td>
                            <td><a href={% url 'delete-patient' patient.id %}><i class="fa fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}